.index-body {
    width: 100vw;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: 
        url(./images/bg-pattern-top-desktop.svg),
        url(./images/bg-pattern-bottom-desktop.svg);
    background-position:
        bottom 400px left 0px,
        top 250px right 0px;
    background-repeat:
        no-repeat;
}

.outer-box {
    width: 59%;
}

.box-1 {
    display: flex;
    justify-content: space-between;
}

.box-1-1 {
    width: 40%;
}

.index-h1 {
    color: hsl(300, 43%, 22%);
    margin-right: 39px;
    margin-bottom: 0;
    font-size: 2.7rem;
}

.intro {
    color:hsl(303, 10%, 53%);
    font-size: 15px;
}

.box-1-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rating-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin-right: 60px;
    margin-bottom: 15px;
}

.rating-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 0px 30px;
}

.rating-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 15px 0px 0px 60px;
}

.rating-star-box {
    white-space: nowrap;
    list-style: none;
    padding: 0;
    width: 30%;
    margin: 15px 0px;
}

.rating-text-1 {
    margin: 15px 25px 15px 0;
}

.rating-text-2 {
    margin: 15px 0px;
}

.rating-text-3 {
    margin: 15px 25px 15px 0px;
}

.rating-li {
    display: inline-block;
}