.index-body {
    width: 100vw;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: 
        url(./images/bg-pattern-top-desktop.svg),
        url(./images/bg-pattern-bottom-desktop.svg);
    background-position:
        bottom 550px left 0px,
        top 250px right 0px;
    background-repeat:
        no-repeat;
}

.outer-box {
    width: 72%;
    height: 60%;
}

.box-1 {
    display: flex;
    margin-bottom: 50px;
}

.box-1-1 {
    width: 40%;
}

.index-h1 {
    color: hsl(300, 43%, 22%);
    margin-right: 39px;
    margin-bottom: 0;
    font-size: 2.7rem;
}

.intro {
    color:hsl(303, 10%, 53%);
    font-size: 15px;
    font-weight: 500;
}

.box-1-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rating-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin-right: 60px;
    margin-bottom: 15px;
}

.rating-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 0px 30px;
}

.rating-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 15px 0px 0px 60px;
}

.rating-star-box {
    white-space: nowrap;
    list-style: none;
    padding: 0;
    width: 30%;
    margin: 15px 0px;
}

.rating-text-1 {
    margin: 15px 25px 15px 0;
    font-weight: 700;
}

.rating-text-2 {
    margin: 15px 0px;
    font-weight: 700;
}

.rating-text-3 {
    margin: 15px 25px 15px 0px;
    font-weight: 700;
}

.rating-li {
    display: inline-block;
}

.intro {
    line-height: 1.2;
}

.box-2 {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.box-2-1 {
    width: 25%;
    height: 30%;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 20px;
}

.box-2-2 {
    width: 25%;
    height: 30%;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.box-2-3 {
    width: 25%;
    height: 30%;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
}

.username {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-bottom: 0;
}

.user-status {
    color: hsl(333, 80%, 67%);
    margin-top: 10px;
}

.user-comment {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    line-height: 1.2;
}

.image {
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

@media (max-width: 375px) {
    .index-body {
        background-image: 
            url(./images/bg-pattern-top-mobile.svg),
            url(./images/bg-pattern-bottom-mobile.svg);
        background-position:
            bottom 500px left 0px,
            top 750px right 0px;
    }
    .outer-box {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 90%;
        align-items: center;
    }
    .box-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .box-1-1 {
        width: 90%;
        text-align: center;
    }
    .index-h1 {
        margin: 0;
    }
    .box-1-2 {
        width: 90%;
        justify-content: center;
        align-items: center;
        
    }
    .rating-1 {
        width: 100%;
        margin-right: 0;
        flex-direction: column;
    }
    .rating-text-1 {
        margin-top: 0;
        margin-right: 0;
    }
    .rating-2 {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        flex-direction: column;
    }
    .rating-text-2 {
        margin-top: 0;
    }
    .rating-3 {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        flex-direction: column;
    }
    .rating-text-3 {
        margin-top: 0;
        margin-right: 0;
    }

    .box-2 {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }
    .box-2-1 {
        width: 80%;
        height: 20%;
    }
    .box-2-2 {
        width: 80%;
        height: 20%;
    }
    .box-2-3 {
        width: 80%;
        height: 20%;
        margin-top: 20px;
    }
    .username {
        margin-top: 0;
    }
}